.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
analyses_additional_cache/*
# analyses_additional_files/*
analyses_cache/*
archive/*
data/
figures/archive/*
manuscript_cache/*
manuscript_ica.*
manuscript_ica_cache/*
manuscript_ica_files/*
title page/*